@inherits LayoutComponentBase
@attribute [StreamRendering]

<!DOCTYPE html>
<html lang="en" class="h-full overflow-hidden scroll-smooth">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<base href="/" />
	<title>RazorPreact</title>
	<link href="css/app.min.css" rel="stylesheet" />
	
	<HeadOutlet />
</head>

<body>
	@Body
</body>

</html>
